body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bf.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: #fff0f0;
    color: #000435;
  }

  header:hover {
    background-color: #ddf2d1;}

  .container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
   }
   
   img {
     max-width: 60%;
     height: auto;
   }
   
   .text {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 28px;
   }

  
  p1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
}

  p2 {
    background-color: #e0e7fb;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
  
  section {
    margin: 20px;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Courier, monospace
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .signature-component {
    text-align: left;
    display: inline-block;
    max-width: 100%;
  }
  .signature-component h1 {
    margin-bottom: 0;
  }
  .signature-component h2 {
    margin: 0;
    font-size: 100%;
  }
  .signature-component button {
    padding: 1em;
    background: transparent;
    box-shadow: 2px 2px 4px #777;
    margin-top: 0.5em;
    border: 1px solid #777;
    font-size: 1rem;
  }

  .signature-component button.toggle {
    background: rgba(255, 0, 0, 0.2);
  }
  .signature-component canvas {
    display: block;
    position: relative;
    border: 1px solid;
  }
  .signature-component img {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  button {
    background-color: #9caf88;
    color:black;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

  }
  
  .contact-section {
    color: #fff0f0;
    background-color: #000435; 
    padding: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

  }